USE [LawFirmDB]
GO
/****** Object:  Table [dbo].[Attorneys]    Script Date: 27-Mar-22 3:19:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attorneys](
	[AttorneyID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Telephone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Attorneys] PRIMARY KEY CLUSTERED 
(
	[AttorneyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 27-Mar-22 3:19:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[BillingID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NULL,
	[Date] [date] NULL,
	[CategoryID] [nvarchar](50) NULL,
	[Hours] [float] NULL,
	[RateID] [int] NULL,
	[AttorneyID] [int] NULL,
 CONSTRAINT [PK_Billing] PRIMARY KEY CLUSTERED 
(
	[BillingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 27-Mar-22 3:19:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 27-Mar-22 3:19:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[StreetAddress] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[Telephone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rates]    Script Date: 27-Mar-22 3:19:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rates](
	[RateID] [int] IDENTITY(1,1) NOT NULL,
	[Rate] [money] NULL,
 CONSTRAINT [PK_Rates] PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attorneys] ON 

INSERT [dbo].[Attorneys] ([AttorneyID], [FirstName], [LastName], [Telephone]) VALUES (12, N'Thomas', N'Zieger', N'(253) 555-9632')
INSERT [dbo].[Attorneys] ([AttorneyID], [FirstName], [LastName], [Telephone]) VALUES (14, N'Marjorie', N'Shaw', N'(253) 555-9612')
INSERT [dbo].[Attorneys] ([AttorneyID], [FirstName], [LastName], [Telephone]) VALUES (17, N'Kathleen', N'Jordan', N'(253) 555-9679')
SET IDENTITY_INSERT [dbo].[Attorneys] OFF
GO
SET IDENTITY_INSERT [dbo].[Billing] ON 

INSERT [dbo].[Billing] ([BillingID], [ClientID], [Date], [CategoryID], [Hours], [RateID], [AttorneyID]) VALUES (1, 164, CAST(N'2018-06-01' AS Date), N'G', 1, 3, 14)
INSERT [dbo].[Billing] ([BillingID], [ClientID], [Date], [CategoryID], [Hours], [RateID], [AttorneyID]) VALUES (2, 225, CAST(N'2018-06-01' AS Date), N'SE', 1.75, 1, 12)
INSERT [dbo].[Billing] ([BillingID], [ClientID], [Date], [CategoryID], [Hours], [RateID], [AttorneyID]) VALUES (3, 321, CAST(N'2018-06-01' AS Date), N'CC', 1.5, 4, 19)
SET IDENTITY_INSERT [dbo].[Billing] OFF
GO
INSERT [dbo].[Categories] ([CategoryID], [Category]) VALUES (N'A', N'Adoption')
INSERT [dbo].[Categories] ([CategoryID], [Category]) VALUES (N'CC', N'Child Custody')
INSERT [dbo].[Categories] ([CategoryID], [Category]) VALUES (N'CV', N'Child Visitation')
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [FirstName], [LastName], [StreetAddress], [City], [State], [ZipCode], [Telephone]) VALUES (110, N'Margaret', N'Kasper', N'40210 42nd Avenue', N'Auburn', N'WA', N'98001', N'(253) 555-9003')
INSERT [dbo].[Clients] ([ClientID], [FirstName], [LastName], [StreetAddress], [City], [State], [ZipCode], [Telephone]) VALUES (112, N'Haley', N'Brown', N'3219 North 33rd Street', N'Auburn', N'WA', N'98001', N'(253) 555-3948')
INSERT [dbo].[Clients] ([ClientID], [FirstName], [LastName], [StreetAddress], [City], [State], [ZipCode], [Telephone]) VALUES (116, N'Kevin', N'Stein', N'12034 South 22nd Avenue', N'Kent', N'WA', N'98035', N'(253) 555-2980')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Rates] ON 

INSERT [dbo].[Rates] ([RateID], [Rate]) VALUES (1, 200.0000)
INSERT [dbo].[Rates] ([RateID], [Rate]) VALUES (2, 250.0000)
INSERT [dbo].[Rates] ([RateID], [Rate]) VALUES (3, 300.0000)
SET IDENTITY_INSERT [dbo].[Rates] OFF
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [FK_Billing_Attorneys] FOREIGN KEY([AttorneyID])
REFERENCES [dbo].[Attorneys] ([AttorneyID])
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [FK_Billing_Attorneys]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [FK_Billing_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [FK_Billing_Categories]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [FK_Billing_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [FK_Billing_Clients]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [FK_Billing_Rates] FOREIGN KEY([RateID])
REFERENCES [dbo].[Rates] ([RateID])
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [FK_Billing_Rates]
GO
USE [master]
GO
